/*
    app.scss
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Shadows+Into+Light+Two&family=MedievalSharp&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(243, 220, 200);
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-item i {
    color:rgb(150, 150, 150);
}

.navbar-item i:hover {
    color:rgb(200, 200, 200);
}

.navbar-menu {
    @media screen and (max-width: 1089px) {
        background-color: rgb(50, 50, 50) !important;
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(180, 180, 180) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(190, 190, 190);
}

.navbar-dropdown {
    background-color: rgb(50, 50, 50);
}

.is-visible-mobile {
    @media screen and (min-width: 1089px) {
        display: none;
    }
}

.is-navbar-fixed-top {
    @media screen and (min-width: 1089px) {
        position: relative;
        top: 5px;
    }
}

.header {
    width: 100%;
    height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.header-content {
    position: relative;
    margin-top: 21px;
    padding: 10px;
    font-family: MedievalSharp, Nunito, Verdana, Geneva, Tahoma, sans-serif;
    @media screen and (max-width: 768px) {
        margin-top: -5px;
    }
}

.header-content h1 {
    font-size: 2.5em;
    color: rgb(109, 35, 3);
    text-shadow: -1px -1px 0 rgb(255, 155, 111), 1px -1px 0 rgb(255, 155, 111), -1px 1px 0 rgb(255, 155, 111), 1px 1px 0 rgb(255, 155, 111);
    @media screen and (max-width: 768px) {
        font-size: 2.0em;
    }
}

.header-content h2 {
    font-size: 2.0em;
    color: rgb(109, 35, 3);
    text-shadow: -1px -1px 0 rgb(255, 155, 111), 1px -1px 0 rgb(255, 155, 111), -1px 1px 0 rgb(255, 155, 111), 1px 1px 0 rgb(255, 155, 111);
    @media screen and (max-width: 768px) {
        font-size: 1.5em;
    }
}

.content-section {
    position: relative;
    padding: 20px;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }
    @media screen and (max-width: 480px) {
        padding: 5px;
        text-align: center;
        margin-top: 5px;
    }
}

.content-section h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
}

.content-section h4 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.content-section p {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.content-section a {
    color: rgb(50, 115, 220);
}

.content-section a:hover {
    color: rgb(50, 115, 220);
    text-decoration: underline;
}

.content-section a.button:hover {
    text-decoration: none;
}

.file-name {
    max-width: unset !important;
}

.input, .file-name {
    color: rgb(50, 50, 50);
    background-color: rgb(223, 185, 154);
}

.file-cta, .file-label:hover .file-cta {
    background-color: rgb(220, 168, 125);
}

.file-cta:hover, .file-label:hover {
    background-color: rgb(220, 168, 125) !important;
}

input[type=submit] {
    margin-top: 30px;
    margin-bottom: 50px;
}

.input::placeholder {
    color: rgb(50, 50, 50);
}

.icon i {
    color: rgb(120, 120, 120);
}

.info {
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
}

.info-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.info-content {
    padding: 20px;
}

.info-box-green {
    border: 1px solid rgb(20, 143, 25);
}

.info-header-green {
    background-color: rgba(31, 220, 40, 0.8);
    color: rgb(250, 250, 250);
}

.info-content-green {
    color: rgb(50, 50, 50);
    background-color: rgba(31, 220, 40, 0.3);
}

.info-content-green strong {
    color: rgb(50, 50, 50);
}

.info-box-red {
    border: 1px solid rgb(123, 68, 68);
}

.info-header-red {
    background-color: rgba(205, 40, 38, 0.8);
    color: rgb(250, 250, 250);
}

.info-content-red {
    color: rgb(50, 50, 50);
    background-color: rgba(205, 40, 38, 0.4);
}

.info-content-red strong {
    color: rgb(50, 50, 50);
}

.info-box-blue {
    border: 1px solid rgb(20, 85, 143);
}

.info-header-blue {
    background-color: rgba(35, 90, 245, 0.8);
    color: rgb(250, 250, 250);
}

.info-content-blue {
    color: rgb(50, 50, 50);
    background-color: rgba(0, 76, 168, 0.3);
}

.info-content-blue strong {
    color: rgb(50, 50, 50);
}

.photo {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.photo:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.photo-info-overlay {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: rgba(20, 20, 20, 0.8);
}

.photo-info-data {
    color: rgb(200, 200, 200);
}

.photo-options {
    float: right;
    top: 7px;
    cursor: pointer;
}

.dropdown-content {
    background-color: rgb(220, 168, 125);
}

a.dropdown-item {
    color: rgb(50, 50, 50);
}

a.dropdown-item:hover {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

a.dropdown-item:hover {
    background-color: rgb(189, 143, 107);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#loadmore {
    margin-top: 50px;
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
}

#photos-search {
    margin-top: 35px;
}

.tags {
    margin-top: 40px;
}

.tag {
    position: relative;
    display: inline-block;
    min-width: 100px;
    background-color: rgba(250, 250, 250, 0.6) !important;
    border: 1px solid rgb(200, 200, 200);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 35px !important;
}

.tag:hover {
    background-color: rgba(250, 250, 250, 1.0) !important;
    cursor: pointer;
}

.newsletter {
    position: relative;
    margin-bottom: 150px;
    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }
    padding: 10px;
    text-align: center;
}

.newsletter h3 {
    font-size: 1.5em;
}

.newsletter p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.statsinfo {
    position: relative;
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 68px;
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.scroll-to-top {
    position: fixed;
    z-index: 100;
    bottom: 12px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-inner a {
    color: rgb(200, 200, 200);
}

.cookies-outer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 150px;
    z-index: 100;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 25px;
    background-color: rgb(250, 185, 135);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.cookies-inner {
}

.cookies-notice {

}

.cookies-action {
    position: relative;
    float: right;
    margin-top: 20px;
    bottom: -15px;
}

.cookies-action a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
    background-color: rgb(250, 171, 111);
    border: 1px solid rgb(100, 100, 100);
    color: rgb(0, 65, 131);
}

.cookies-action a:hover {
    background-color: rgb(248, 175, 119);
    color: rgb(21, 68, 130);
}

.footer {
    width: 100%;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    padding: 1rem 1.5rem 1rem;
}

.footer-frame {
    width: 100%;
}

.footer-content {
    text-align: center;
}

.footer-content a {
    color: rgb(130, 130, 130);
}

.footer-content a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.is-full-width {
    width: 100%;
}

.is-margin-top-40 {
    margin-top: 40px;
}

.is-top-22 {
    top: 22px;
}